.App {
  text-align: center;
}

.time {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

.header1 {
  font-size: 30px;

}

.website {
  font-size: 20px;
  margin-left: 5%;
  margin-top: 50px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
